{% extends 'base.html' %}
{% block content %}

<style>
    .progress {height: 25px;}
    .progress .sr-only { position: relative; }
    .progress-bar { line-height: 25px; }
    .progress-label {float: left;margin-right: em;}
    </style>


{% if  transfer.progress != 100 %}
<meta http-equiv="refresh" content="3">

{% else  %}

<script>

    function reloadIt() {
        if (window.location.href.substr(-2) !== "?r") {
            window.location = window.location.href + "?r";
        }
    }
    
    setTimeout('reloadIt()', 3000)();
    
</script>


{% endif %}

<body style="background-color: #afd378;">
    <div style="width: 100%; margin: 0 auto; padding: 10px;">




        
        <div style="background-color: beige; padding: 30px; padding-bottom: 70px;">

            Progress:                   {{transfer.progress}}% completed
            <br> 
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="{{transfer.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{transfer.progress}}%">
    
                </div>
            </div>
            <br>


            <div style="display:flex; justify-content:space-around;">
                <div style="display:inline-block">
                    <h3>Person image:</h3>
                    <img width="300" src="/{{transfer.person_image }}">
                </div>

                <div style="display:inline-block">
                    <h3>Style image:</h3>
                    <img width="300" src="/{{transfer.style_image }}">
                </div>
            </div>

            <br><br>
            <div style="display:flex; justify-content:space-around;">
                <div style="display:inline-block">
                    <h3>Segmentation:</h3>
                    <img width="300" src="/{{transfer.person_image_segmentation }}">
                </div>

                <div style="display:inline-block">
                    <h3>Style transfer:</h3>
                    <img width="300" src="/{{transfer.style_transfered }}">
                </div>
            </div>
        </div>
    </div>


{% endblock %}
